body {
	background-image: url("https://wallpaperplay.com/walls/full/d/3/9/378493.jpg");
}

.leaderboard {
	grid-column: 3;
    text-indent: 40px
}

.container {
	display: grid;
	grid-template-columns: 1fr 7fr 3fr;
	grid-template-rows;: 2fr 8fr;
}

.ul {
	color: green;
}

.game {
	grid-column: 2;
}