
body {
	background-image: url("https://wallpaperplay.com/walls/full/d/3/9/378493.jpg");
}

.container {
	display: grid;
	grid-template-columns: 0.5fr 7fr 3fr;
	/* grid-template-rows: 2fr 8fr; */
}

.game {
	grid-row: 1;
	grid-column: 2;
}

.leaderboard {
	grid-row: 1;
	grid-column: 3;
    text-indent: 40px;
}

.ul {
	color: purple;
}

.submit-form {
	grid-row: 1;
	grid-column: 3;
	/* align-content: center;; */
	color: green
}

.hidden {
	display: none;
	visibility: hidden;
}

.unhidden {
	color: green;
}
